.ushakov-cookie {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9999;
    color: #ffffffb8;
}

.ushakov-cookie > div {
    width: 100%;
    padding: 12px 8px 20px;
    background: rgb(0 0 0 / 78%);
    font-size: 14px!important;
    line-height: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px 6px 0 0;
    color: #f1f1f1!important;
}

.ushakov-cookie img {
    margin-left: 8px;
    margin-top: 3px;
    margin-bottom: 2px;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.ushakov-cookie .button {
    text-transform: uppercase;
    font-size: .8em;
    background: #0000007a;
    padding: 2px 7px;
    border-radius: 4px;
    margin-left: 6px;
    cursor: pointer;
    user-select: none;
}

.ushakov-cookie .button:hover {
    background: #000000e3;
}

.ushakov-cookie img:hover {
    opacity: .8
}

.ushakov-cookie a {
    text-decoration: none;
}

@media (min-width: 540px) {
    .ushakov-cookie br {
        display: none;
    }
}

@media (min-width: 640px) {
    .ushakov-cookie {
        bottom: 7px
    }
    .ushakov-cookie > div {
        width: initial;
        border-radius: 6px;
        padding: 6px 9px 6px;
    }
}

@media (max-width: 767px) {
    .ushakov-cookie--d-mob-none {
        display: none;
    }
}
